{{#foreach posts}}
<section id="{{id}}" class="{{post_class}}">
	<h3 class="post-title"><a href="{{url}}">{{title}}</a><span class="separator"> &middot; </span>{{date published_at format='MMMM D, YYYY'}}<span class="taglist">{{tags separator=" " prefix=" &middot; "}}</span>{{#if featured}}<span class="separator"> &middot; </span><i class="fa fa-star-o feature-star"></i>{{/if}}</h3> <span class="fb-like" data-href="{{url}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></span>
	<span><a href="https://twitter.com/share" class="twitter-share-button" data-url="{{url}}" data-text="{{title}}" data-via="NepalBitcoin" data-hashtags='{{tags separator="," prefix=" "}}, Nepal'>Tweet</a> </span>
</section>
{{/foreach}}

