<!doctype html>
<html lang="en">	
	<head>
	    {{! Document Settings }}
	    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	    {{! Page Meta }}
	    <title>{{meta_title}}</title>
	    <meta name="description" content="{{meta_description}}" />
	    <link rel="shortcut icon" href="{{asset '/img/Flag_of_Nepal.ico'}}"/>
	    <script src="{{asset '/js/pace.min.js'}}"></script>
	    <link rel="stylesheet" type="text/css" href="{{asset '/styles/pace.css'}}">
			{{! Styles }}
	    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
		<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
		<link rel="stylesheet" type="text/css" href="{{asset '/styles/crisp.css'}}">
		<link rel="stylesheet" type="text/css" href="{{asset '/styles/social.css'}}">
		<script src="//apis.google.com/js/platform.js" async defer></script>
			{{! Responsive Meta Tags }}
	    <meta name="HandheldFriendly" content="True" />
	    <meta name="MobileOptimized" content="320" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
				<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
			<![endif]-->  
			{{{block "head"}}}  
	    {{ghost_head}}
	</head>
	<body class="{{body_class}}">
		<header id="header" align="center">
			{{#if @blog.logo}}<a id="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
			<h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
			{{> follow}}
			<p>{{@blog.description}}</p>
			{{navigation}}
		</header>
		<main id="content">
			{{{body}}}
		</main>
			{{ghost_foot}}
		<footer id="footer" align="center">
			<section id="footer-message"> 
			<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
				<img width='80' height='30' title='Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.' alt='CC BY-NC-SA 4.0' src='{{asset '/img/by-nc-sa.png'}}'><br>
				@NepalBitcoin</a>
				<br> 
				Powered by <a href="https://ghost.org" target="_blank">Ghost</a>. 
				<a href="https://github.com/kathyqian/crisp-ghost-theme" target="_blank">Crisp</a> theme by <a href="http://kathyqian.com" target="_blank">Kathy Qian</a>.</section>
		</footer>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="{{asset '/js/rrssb.min.js'}}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<script>
	  ! function(d, s, id) {
	    var js, fjs = d.getElementsByTagName(s)[0],
	      p = /^http:/.test(d.location) ? 'http' : 'https';
	    if (!d.getElementById(id)) {
	      js = d.createElement(s);
	      js.id = id;
	      js.src = p + '://platform.twitter.com/widgets.js';
	      fjs.parentNode.insertBefore(js, fjs);
	    }
	  }(document, 'script', 'twitter-wjs');
	</script>

	<script type="text/javascript">
	  (function() {
	    var po = document.createElement('script');
	    po.type = 'text/javascript';
	    po.async = true;
	    po.src = 'https://apis.google.com/js/platform.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(po, s);
	  })();
	</script>
	</body>
</html>
