{{!< default}}
{{#post}}
<article id="{{id}}" class="{{post_class}}">
	<h1 class="post-title">{{title}}</h1>
	<div class="post-stamp">
		{{#if featured}}<span class="separator"> &middot; </span><i class="fa fa-star-o feature-star"></i>{{/if}}
		{{date published_at format='MMMM D, YYYY'}}<span class="taglist">{{tags separator=" " prefix=" &middot; "}}</span>
		<span class="separator"> &middot; </span>
		<span class="social">
			<span class="facebook">
				<iframe src="https://www.facebook.com/plugins/like.php?href={{@blog.url}}{{url}}&amp;width=133&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=20&amp;appId=1531428240402426" scrolling="no" frameborder="0" style="height: 20px; width: 130px" allowTransparency="true"></iframe>
			</span> <span class="separator"> &middot; </span>
			<span class="twitter">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{@blog.url}}{{url}}" data-text="{{title}}" data-via="NepalBitcoin" data-hashtags="{{tags autolink="false" limit="3"}}, Nepal">Tweet</a>
			</span> <span class="separator"> &middot; </span>
			<span class="g-plus" data-action="share" data-annotation="none" data-href="{{@blog.url}}{{url}}"></span>
	  		<span class="g-plusone" data-size="medium" data-href="{{@blog.url}}{{url}}"></span>
		</span>
	</div>
	{{content}}
	{{> share}} 
  {{> comments}}
</article>  
{{/post}}